.post {
  background-color: rgba(69, 109, 105, 0.5);
  text-align: center;
  padding: 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  width: 100%;
}

.post a {
  color: #fff;
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  cursor: pointer;
}

.image img {
  object-fit: cover;
}

.content {
  padding: 1rem;
}

.content h3 {
  cursor: pointer;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.content time {
  font-style: italic;
  color: rgb(168, 168, 168);
}

.content p {
  line-height: 1rem;
}


  
  /* .img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  } */


  @media (min-width: 1020px) {
    .post {
      padding: 0 1rem;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     min-height: 20rem;
   }
   .image {
    width: 50%;
    height: 100%;
    border-radius: 8px;
  }

  .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: start;
    height: 100%;
  }
  }