.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .75rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 10000;
  transition: 0.3s;
}
.lol {
  background-color: rgb(75, 90, 82);
}
.logo {
  font-size: 2.25rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 60000;
}

.logo span {
  color: lightgreen;
}

.nav {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: none;
}

.nav-list a {
  transition: 0.15s;
  margin-right: 1.5rem;
}

.nav-list a:hover {
  border-bottom: 3px solid lightgreen;
}

.menu-item {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .header {
    padding: 1rem, 3rem;
  }

  .header:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .nav {
    width: 40%;
    font-size: 2rem;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  .logo {
    font-size: 3rem;
    margin-left: 2rem;
  }

  .burger {
    display: none;
  }
}