.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 10000;
  transition: 0.3s;
}

.header:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  color: lightgreen;
}

.nav {
  width: 30%;
  font-size: 2rem;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-list a {
  transition: 0.15s;
}

.nav-list a:hover {
  border-bottom: 3px solid lightgreen;
}
