.blog-post {
 display: flex;
 flex-direction: column;
 color:azure;
 padding: 2rem;
}

.image {
 align-self: center;
 position: relative;
}

@media (min-width: 768px) {
 .blog-post {
  top: 20%;
  padding: 5rem;
 }
}
@media (min-width: 1024px) {
 .container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 5rem;
 }

 .container h2 {
  font-size: 1.75rem;
 }

 .content {
  color: #ccc;
  font-size: 1.5rem;
  line-height: 2rem;
 }
}
