.not-found {
  height: 89.5vh;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../public/imgs/compass.jpg);
  background-size: cover;
  background-position: 40%;
}

.info {
  width: 70%;
  min-height: 40%;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ddd;
}

@media (min-width: 768px) {
  .not-found {
    height: 93.3vh;
  }

  .info {
    width: 40%;
    min-height: 40%;
  }
}
