.container {
 height: 100%;
 margin: auto 0;
 display: flex;
 justify-content: center;
 align-items: center;
 background: #aaa;
 height: 100vh;
 background-image: url(../public/imgs/loginImage.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.box {
 display: flex;
 flex-direction: column;
 background-color: rgba(244, 244, 244, .8);
 min-width: 80%;
 padding: 1rem;
 box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
 border-radius: 8px;
}

.box form {
 display: flex;
 flex-direction: column;
}

.box input {
 padding: 0.35rem;
 margin-bottom: .5rem;
}

.invalid {
 background-color: rgba(200, 137, 137, 0.9);
 border-color: rgb(225, 15, 15);
}

.btn {
 width: 80%;
 padding: 0.5rem;
 background-color:rgb(92, 138, 222);
 color: white;
 border: none;
 margin: .5rem auto;
 font-size: 1rem;
 border-radius: 4px;
 cursor: pointer;
 transition: .2s;
}

.btn:hover {
 background-color:rgb(80, 126, 212)
}

.box button:first-of-type {
 margin-top: 1.5rem;
}

.box button:first-of-type:hover {
 background-color:rgb(89, 129, 222);
}

.box button:last-child {
 background-color: #fff;
 color: black;
}

.box button:last-child:hover {
 background-color: rgb(244, 244, 244);
}

.welcome {
 height: 50%;
 width: 80%;
 display:flex;
 flex-direction: column;
 justify-content: space-around;
 background-color:rgba(70, 135, 255, 0.9);
 box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);
 color: #eee;
 padding: 2rem;
 border-radius: 6px;
}

.welcome h2 {
 text-align: center;
}

.welcome a {
 width: 80%;
 font-size: 1.25rem;
 background-color:rgba(15, 87, 223, 0.8);
 display: inline-block;
 text-align: center;
 border-radius: 6px;
 padding: 0.35rem;
 transition: 0.2s;
}


.welcome a:hover {
 background-color:rgb(22, 105, 231);
}

.actions {
 display: flex;
 flex-direction: column;
 align-items: center;
}

@media (min-width: 768px) {
 .box {
  min-width: 40%;
 }
 .welcome {
  height: 50%;
  width: 50%;
 }
 .welcome a {
  padding: .75rem;
 }
 .welcome button {
  padding: .75rem;
 }
}

@media (min-width: 1024px) {
 .box {
  min-width: 40%;
 }
 .welcome {
  height: 40%;
  width: 30%;
 }
}
@media (min-width: 1260px) {
 .box {
  min-width: 25%;
 }
}